FORMAT: 1A
HOST: http://ipiaoniu.apiary.io

# 票牛Api

## 活动列表 [/v1/activities]

### 获取活动列表 [GET /v1/activities{?pageIndex,pageSize,keyword,regionId,categoryId,latitude,longitude,startTime,endTime}]

+ Parameters
    + pageIndex(number) - 第几页
    + pageSize(number) - 每页多少
    + keyword(string, optional) - 关键词
    + startTime(string, optional) - 开始时间 2015-01-01
    + endTime(string, optional) - 结束时间 2015-01-30
    + regionId(number, optional) - 地区Id
    + categoryId(number, optional) - 类型Id
    + latitude(string, optional) - 纬度
    + longitude(string, optional) - 经度

+ Response 200 (application/json)

            {
              "data": [
                {
                  "updateTime": 1439853517000,
                  "events": [
                    {
                      "end": 1443632400000,
                      "start": 1443628800000,
                      "activityEventGroupId": 1,
                      "updateTime": 1439856046000,
                      "addTime": 1439856046000,
                      "id": 1
                    }
                  ],
                  "ticketCategories": [{
                    "id": 1,
                    "originPrice": 200
                  },{
                    "id": 2,
                    "originPrice": 100
                  }],
                  "categoryId": 1,
                  "poster": "http://www.gravatar.com/avatar/72ec343bf968d8fea338b9f57b4caab9?s=24&d=identicon",
                  "id": 1,
                  "highPrice": 3000.0,
                  "name": "abosdfe",
                  "lowPrice": 10.0,
                  "actorId": 0,
                  "addTime": 1439853517000,
                  "venueName": "test",
                  "areaImage": "..."
                }
              ],
              "pageSize": 10,
              "pageIndex": 1,
              "totalNum": 1
            }


## 活动描述 [/v1/activities/{id}]

### 获取活动描述 [GET /v1/activities/{id}]

+ Parameters
    + id - 活动Id

+ Response 200 (application/json)

        {
            "venue": {
                "id": 1,
                "updateTime": 1444494239000,
                "addTime": 1444494239000,
                "name": "人民大舞台",
                "address": "地址：黄浦区九江路663号",
                "avatar": "http://img6.gewara.com/cw250h200/images/theatre/s_1fee454f_12cee8d0bd8__7f61.jpg",
                "cityId": 1,
                "regionId": 0,
                "latitude": 0.000000,
                "longitude": 0.000000,
                "phones": ""
            },
            "actorId": 0,
            "addTime": 1444494239000,
            "name": "念剧场-2015情感大戏《这辈子有过你》经典回归",
            "ticketCategories": [{
                "id": 1,
                "updateTime": 1444494239000,
                "addTime": 1444494239000,
                "activityEventId": 1,
                "originPrice": 100.00,
                "specification": "100元",
                "desc": ""
            }, {
                "id": 2,
                "updateTime": 1444494239000,
                "addTime": 1444494239000,
                "activityEventId": 1,
                "originPrice": 180.00,
                "specification": "180元",
                "desc": ""
            }, {
                "id": 3,
                "updateTime": 1444494239000,
                "addTime": 1444494239000,
                "activityEventId": 1,
                "originPrice": 280.00,
                "specification": "280元",
                "desc": ""
            }, {
                "id": 4,
                "updateTime": 1444494239000,
                "addTime": 1444494239000,
                "activityEventId": 1,
                "originPrice": 380.00,
                "specification": "380元",
                "desc": ""
            }, {
                "id": 5,
                "updateTime": 1444494239000,
                "addTime": 1444494239000,
                "activityEventId": 1,
                "originPrice": 500.00,
                "specification": "500元",
                "desc": ""
            }],
            "updateTime": 1444494239000,
            "id": 1,
            "activityDetails": [{
                "id": 1,
                "updateTime": 1444896496000,
                "addTime": 1444494239000,
                "activityId": 1,
                "type": 1,
                "detailDesc": "<p>金曲唱作歌王JJ林俊杰，以出道第10年的音乐作品「因你而在」创下空前销售纪录，并勇夺2014年第25届金曲奖最佳男歌手奖实至名归，为纪念出道10年而筹备的「时线Time Line世界巡回演唱会」巡迴走遍25个城市。</p>\n<p>    而关于之前大家猜测这次究竟是aMEI还是阿密特（AMIT）的演唱会答案终于揭晓──这次巡演将会是偏执的aMEI与狂野的阿密特首度同台合体演出，歌迷不但可以看到aMEI以本尊身分演唱《偏执面》精彩曲目，也可以亲睹阿密特暌违4年的正式演唱会演出！</p>\n<p>    这次巡演将以前所未有、上下半场的方式疯阿密特的摇滚，跳aMEI的电音，中间当然也少不了经典的情歌大合唱！</p>"
            }, {
                "id": 2,
                "updateTime": 1444896496000,
                "addTime": 1444494239000,
                "activityId": 1,
                "type": 2,
                "detailDesc": "<h3>演出详情</h3>\n\n<p><br />\n&nbsp;&nbsp;&nbsp;&nbsp;</p>\n\n<p>根据香港著名作家张小娴作品《我这辈子有过你》改编。（曾用名：《三个A CUP的女人》）</p>\n\n<p>&nbsp;</p>\n\n<p>由著名导演何念二度创作。将这部张小娴最深爱的作品搬上舞台，融合崭新的表演形式，共同探讨都市情感话题。</p>\n\n<p>&nbsp;</p>\n\n<p><img alt=\"\" src=\"http://img5.gewara.com/userfiles/image/201509/s56a44f13_15012de0017__7ff4.png\" style=\"height:344px; width:560px\" /></p>\n\n<p>&nbsp;</p>\n\n<p>本剧首演于2014年11月，共计38场，场场爆满，更是获得史上零差评、最受欢迎的舞台剧，如今经典回归，12月2日上海人民大舞台再次温情献演！<br />\n<br />\n本剧讲述了三个性格迥异的女人始终在爱情里颠沛流离，义无反顾地寻觅世间的真爱。<br />\n她们互相鼓励、互相取暖，学习 &ldquo;爱情&rdquo;这门人生的必修课。</p>\n\n<p>&nbsp;</p>\n\n<p><img alt=\"\" src=\"http://img5.gewara.com/userfiles/image/201509/s56a44f13_15012de0017__7ff2.png\" style=\"height:387px; width:560px\" /></p>\n\n<p>&nbsp;</p>\n\n<p>爱情到底是什么？</p>\n\n<p>如果爱是场赌博，胜算会是几许？</p>\n\n<p>一输再输后，女人为爱付出的底线在哪里？</p>\n\n<p><br />\n三个女人和他们的爱情，缘起而回眸，缘尽而转身，再也寻不见了&hellip;&hellip;<br />\n&nbsp;</p>\n\n<p><img alt=\"\" src=\"http://img5.gewara.com/userfiles/image/201509/s_3357a3a7_15012e067c0__7ff2.png\" style=\"height:311px; width:560px\" /></p>\n\n<p>&nbsp;</p>\n\n<p>&nbsp;</p>\n\n<p><strong>原著作者--张小娴</strong><br />\n香港著名言情小说家，95年推出第一部长篇小说《面包树上的女人》而走红文坛，是继亦舒之后，香港最受欢迎的言情小说家。她以小说描绘爱情的灼热与冷却，以散文倾诉恋人的微笑与泪水，迄今已出版四十多本小说和散文集，深受广大读者好评。</p>\n\n<p>&nbsp;</p>\n\n<p><strong>导演--何念</strong></p>\n\n<p>知名导演，【念剧场】品牌创始人。曾监制、导演的舞台剧代表作有：《面包树上的女人》、《失恋33天》、《女人一定要有钱吗》、《武林外传》、《撒娇女王》、《21克拉》、《鹿鼎记》、《致青春》等。</p>\n\n<p>&nbsp;</p>\n\n<p>独有的念式作品风格，多以轻松又不乏深度、幽默而不落于俗套为主要创作基调，以新颖独特的视角，融合音乐剧、肢体剧等多种表现形式、配合炫目华丽的舞台灯光效果。给观众朋友带来视听感官全方位的艺术享受。</p>\n\n<p>&nbsp;</p>\n\n<p>与湖南卫视合作的电视节目有：《七夕之夜》、《女王驾到》、《星剧社》等。《七夕之夜》节目开拓了国内舞台剧搬上电视荧幕的先河，并创下了收视佳绩。而《女王驾到》系列周播剧，更是开创了传统电视剧转型的新篇章。今年与克顿传媒合作的青春爆笑喜剧《淑女涩男》更是获得全国收视第二的不菲成绩。</p>\n\n<p>&nbsp;</p>\n\n<p><strong>编剧--刘美钰</strong></p>\n\n<p>台湾剧场界知名演员、编剧、戏剧讲师。参与过的演出有念剧场作品《撒娇女王》，表演工作坊《如梦之梦》、《宝岛一村》、《这是真的》、《快乐不用学》、《如影随行》、《暗恋桃花源》等。<br />\n&nbsp;</p>\n\n<p>剧本作品《红色凡妮莎》荣获2005年台湾文学奖剧本类首奖，《在看见以前》受邀参加第四届北京南锣鼓巷戏剧节，并为2013年台北新成政三校戏剧社联合公演、2010年南京大学戏剧影视艺术系春季公演剧本，另有《夏娃的水平升降》、《Nice to Meet You》、《约会A Date》之等剧作。<br />\n&nbsp;</p>\n\n<p><img alt=\"\" src=\"http://img5.gewara.com/userfiles/image/201509/s384db8bf_15012db2e0a__7ff0.png\" style=\"height:613px; width:400px\" /></p>\n\n<p>&nbsp;</p>\n\n<p><img alt=\"\" src=\"http://img5.gewara.com/userfiles/image/201509/s_3357a3a7_15012e067c0__7ff1.png\" style=\"height:349px; width:560px\" /></p>\n\n<p>&nbsp;</p>\n\n<p>&nbsp;</p>\n\n<p><strong>明星都爱&ldquo;这辈子&rdquo;</strong></p>\n\n<p>在第一轮首演中，胡彦斌、娄艺潇、黄豆豆、何炅等多位明星作为嘉宾观众曾捧场观看。他们在观看了话剧后，不仅对演员们细腻而富有爆发力的表演赞不绝口，更是感叹这部话剧与他们爱情观的契合度之高，甚至可能影响到他们对爱情的选择。</p>\n\n<p>&nbsp;</p>\n\n<p>《这辈子有过你》被誉为&ldquo;爱情圣经&rdquo;，因为不同的人都会在这里看到属于自己的故事，如果想要窥探明星的爱情观，或者想在这里找到自己爱情的出口，《这辈子有过你》都会成为不错的选择。据说，这一轮复演，原作者&ldquo;爱情导师&rdquo;张小娴还有可能会亲自坐镇现场，究竟她会不会现身？一切都看观众和粉丝们的热情啦。<br />\n&nbsp;</p>\n\n<p>&nbsp;</p>\n"
            }, {
                "id": 1327,
                "updateTime": 1444896496000,
                "addTime": 1444896496000,
                "activityId": 1,
                "type": 3,
                "detailDesc": "从未呈现的舞美、灯光、音响，挑战全新视听感受\n制作规模再破以往记录，重新定义“华丽炫目”\n冠军单曲全新演绎，声动全城\n网罗世界顶级舞者助阵巡演\n19年乐坛历练、沉淀，歌唱、表演登峰造极"
            }],
            "poster": "http://img6.gewara.com/cw270h360/images/drama/201509/s3a6b061f_14fa89dd3c8__7f28.jpg",
            "categoryId": 0,
            "events": [{
                "id": 1,
                "updateTime": 1444494239000,
                "addTime": 1444494239000,
                "activityEventGroupId": 1,
                "start": 1449054900000,
                "end": 1449058500000,
                "ticketsNumber": 3,
                "ticketsFlag": 1
            }, {
                "id": 2,
                "updateTime": 1444494239000,
                "addTime": 1444494239000,
                "activityEventGroupId": 1,
                "start": 1449141300000,
                "end": 1449144900000,
                "ticketsNumber": 0,
                "ticketsFlag": 0
            }, {
                "id": 3,
                "updateTime": 1444494240000,
                "addTime": 1444494240000,
                "activityEventGroupId": 1,
                "start": 1449227700000,
                "end": 1449231300000,
                "ticketsNumber": 10,
                "ticketsFlag": 2
            }, {
                "id": 4,
                "updateTime": 1444494240000,
                "addTime": 1444494240000,
                "activityEventGroupId": 1,
                "start": 1449314100000,
                "end": 1449317700000,
                "ticketsNumber": 0,
                "ticketsFlag": 0
            }, {
                "id": 5,
                "updateTime": 1444494240000,
                "addTime": 1444494240000,
                "activityEventGroupId": 1,
                "start": 1449659700000,
                "end": 1449663300000,
                "ticketsNumber": 0,
                "ticketsFlag": 0
            }, {
                "id": 6,
                "updateTime": 1444494240000,
                "addTime": 1444494240000,
                "activityEventGroupId": 1,
                "start": 1449746100000,
                "end": 1449749700000,
                "ticketsNumber": 0,
                "ticketsFlag": 0
            }, {
                "id": 7,
                "updateTime": 1444494240000,
                "addTime": 1444494240000,
                "activityEventGroupId": 1,
                "start": 1449832500000,
                "end": 1449836100000,
                "ticketsNumber": 0,
                "ticketsFlag": 0
            }, {
                "id": 8,
                "updateTime": 1444494240000,
                "addTime": 1444494240000,
                "activityEventGroupId": 1,
                "start": 1449918900000,
                "end": 1449922500000,
                "ticketsNumber": 0,
                "ticketsFlag": 0
            }]
        }


## 查询活动详情 [/v1/activities/{id}/detail]

### 获取活动详情 [GET]

+ Parameters
    + id - 活动Id

+ Response 200 (application/json)

        {
            "id": 3,
            "addTime": 1439855876000,
            "updateTime": 1439855876000,
            "activityId": 1,
            "type": 2,
            "detailDesc": "<strong>详情</strong>"
        }

## 场馆列表 [/v1/venues{?pageIndex,pageSize,keyword,regionId,categoryId,latitude,longitude}]

### 获取场馆列表 [GET]

+ Parameters
    + pageIndex(number) - 第几页
    + pageSize(number) - 每页多少
    + keyword(string, optional) - 关键词
    + regionId(string, optional) - 地区Id
    + categoryId(string, optional) - 类型Id
    + latitude(string, optional) - 纬度
    + longitude(string, optional) - 经度

+ Response 200 (application/json)

        {
          "totalNum": 466,
          "pageIndex": 1,
          "pageSize": 10,
          "data": [{
            "address": "test",
            "latitude": 11,
            "phones": "123,123",
            "avatar": "http://www.gravatar.com/avatar/72ec343bf968d8fea338b9f57b4caab9?s=24&d=identicon",
            "cityId": 1,
            "addTime": 1441590509000,
            "regionId": 1,
            "name": "test",
            "activitiesNum": 1,
            "id": 1,
            "longitude": 11,
            "tags": ["ac"],
            "updateTime": 1441590509000
          }, {
            "address": "场馆地址:上海市黄浦区延安东路523号[查看地图]",
            "latitude": 0,
            "phones": "placeholder",
            "avatar": "placeholder",
            "cityId": 1,
            "addTime": 1441590509000,
            "regionId": 0,
            "name": "上海音乐厅介绍",
            "activitiesNum": 0,
            "id": 2,
            "longitude": 0,
            "updateTime": 1441590509000
          }]
        }

## 收件地址管理 [/v1/myaddress]

### 获取我的收件地址 [GET]


+ Response 200 (application/json)

        {
            latestId: 1,
            receiverName: "",
            receiverPhone: "",
            addresses: [{
                "id": 1,
                "name": "xxx",
                "phone": "137192312",
                "district": "上海市宝山区",
                "address":"xxxx"
            },{
                "id": 2,
                "name": "yyyxxx",
                "phone": "137192312",
                "district": "上海市宝山区",
                "address":"xxxx"
            }]
        }

### 添加我的收件地址 [POST /v1/myaddress?name,phone,district,address]

+ Parameter

    + phone(string) - 手机号
    + name(string) - 收件人
    + district(string) - 省市区
    + address(string) - 地址

+ Response 200

        {
            "success": true,
            "data": 3
        }

### 删除我的收件地址 [DELETE /v1/myadress/{id}]


+ Response 200

        {
            "success": true
        }

## 订单 [/v1/order]

### 获取优惠 [GET /v1/order/coupons?eventId,ticketGroupId,count,areaId]

+ Parameter

    + eventId
    + ticketGroupId
    + areaId
    + count - 张数

+ Response 200 (application/json)

        [
        {
            id: 25,
            updateTime: 1444872944000,
            addTime: 1444872944000,
            userId: 13,
            discountAmount: 200,
            requireAmount: 0,
            type: 1,
            title: "开心麻花200元优惠券",
            desc: "每张票立减10元",
            activityId: 1,
            activityEventGroupId: 2,
            extraCondition: null,
            effectiveTimeFrom: 1444872978000,
            effectiveTimeTo: 1444872978000,
            status: 1
        }
        ]

### 提交订单 [POST /v1/order?eventId,ticketGroupId,receiverName,receiverType,receiverMobile,receiverAddressId,count,paymentType,areaId,receiveType,totalAmount,paymentAmount,couponId]

+ Parameter

    + eventId
    + ticketGroupId
    + areaId
    + totalAmount(number) - 应付金额
    + paymentAmount(number) - 实付金额
    + receiveType(number) - 收件方式 1:快递寄送 2:现场取票
    + receiverName(string, optional) - 收件人
    + receiverMobile(string, optional) - 收件人手机号
    + receiverAddressId(number, optional) - 收件人地址
    + count - 张数
    + paymentType - 支付渠道 1:支付宝
    + couponId - 优惠券ID

+ Response 200 (application/json)

        {
            "orderId": 1,
            "paymentType": 1,
            "paymentParameters": "xxxxxx"
        }

### 查询支付结果 [GET /v1/order/status?orderId]


+ Parameter

    + orderId


+ Response 200 (application/json)

        {
            "status": "pending|success|fail"
        }

## 票源 [/v1/tickets]

### 获取可选票面价 [GET /v1/ticketCategories/?eventId]

+ Parameters

    + eventId(number) - 场次

+ Response 200 (application/json)

        [{
            "id": 4,
            "originPrice": 100,
            "hasTicket": true
        }]

### 获取票源信息 [GET /v1/tickets?eventId,ticketCategoryId,pageIndex,pageSize]

用户端
说明：用于在选择票的界面根据票挡获取票源信息
由于该界面没有直接入口，其中的活动信息部分已从上一个界面获得（见“活动详情”接口）

同时根据活动Id（是否就是eventGroupId），由“演出场次信息列表”接口
获取所有场次以及相关票档。

选择一个票档，则根据该接口获取所有票源。

+ Parameters
    + eventId(number) - 场次
    + ticketCategoryId(number) - 票档Id
    + pageIndex(number) - 页码
    + pageSize(number) - 每页条数

+ Response 200 (application/json)

        {
            "pageSize": 10, // 以卖家为单位
            "pageIndex": 1,
            "totalNum": 20,
            "originPrice": 1800,
            "data": [{
                "ticketGroupId":1,
                "name": "卖家甲",
                "recommended": true,
                "salePrice": 2000,
                "desc": "买到赚到不加价",
                "tickets": [{
                // SalerTicketArea
                    "areaId": 1,
                    "areaName":"A区",
                    "saling": 10,
                }, {
                    "areaId": 2,
                    "areaName":"B区",
                    "saling": 10
                }]
            }, {
                "ticketGroupId":2,
                "name": "卖家乙"
                "recommended": true,
                "salePrice": 2000,
                "desc": "买到赚到不加价",
                "tickets": [{
                    "areaId": 1,
                    "areaName":"A区",
                    "saling": 10
                }, {
                    "areaId": 2,
                    "areaName":"B区",
                    "saling": 10
                }]
            }]
        }]

### 查询在售信息 [GET /v1/salerTickets?ticketCategoryId,eventId]

+ Parameters
    + eventId
    + ticketCategoryId

+ Response 200 (application/json)

    + Body

            {
                "areas" : [{
                    "areaId": 1,
                    "areaName": "A区"
                },{
                    "areaId": 2,
                    "areaName": "B区"
                }],
                "salingInfo": {
                    "salePrice": 200,
                    "desc": "xxxx",
                    "tickets":[{
                        "areaId": 1,
                        "sold": 7,
                        "saling": 8
                    },{
                        "areaId": 2,
                        "sold": 7,
                        "saling": 8
                    }]
                }
            }


### 票源信息 [POST /v1/salerTickets]

+ Request (application/json)

    + Body

            {
                "eventId": 12,
                "ticketCategoryId": 12,
                "salePrice": 2000,
                "desc": "买到赚到",
                "tickets": [{
                    "areaId": 1, // 这里取id还是name确认下
                    "saling": 10
                }]
            }

+ Response 200 (application/json)

            {
                "success": true // 返回需要啥信息还没想好
            }

### 更改票源价格 [PUT /v1/salerTickets/price]

+ Request (application/json)

    + Body

            {
                "eventId": 12,
                "ticketCategoryId": 12,
                "price": 2000
            }

+ Response 200 (application/json)

            {
                "success": true
            }


### 更改票源价格 [PUT /v1/salerTickets/desc]

+ Request (application/json)

    + Body

            {
                "eventId": 12,
                "ticketCategoryId": 12,
                "desc": 2000
            }

+ Response 200 (application/json)

            {
                "success": true
            }


### 更改票档对应区域在售数量 [PUT /v1/salerTickets/storage]

delta为加减数量，前端填写的时候填的是票库存，发请求的时候根据现在的数量去计算得到delta

+ Request (application/json)

    + Body

            {
                "eventId": 12,
                "areaId": 12,
                "ticketCategoryId": 12,
                "delta": 5
            }

+ Response 200 (application/json)

            {
                "success": true
            }

### 更改票档票源所有信息 [PUT /v1/salerTickets]

+ Request (application/json)

    + Body

            {
                "eventId": 12,
                "ticketCategoryId": 12,
                "salePrice": null/2000,
                "desc": null/"更改后的描述",
                "tickets": [{
                    "areaId":1,
                    "delta": -5
                }]
            }

+ Response 200 (application/json)

            {
                "success": true
            }


## 演出热门搜索 [/v1/activities/hottest]

### 获取热门搜索 [GET]

+ Response 200 (application/json)

        [{
            "id": 1,
            "keyword": "第十一届爵士音乐节"
        },{
            "id": 2,
            "keyword": "第十一届爵士音乐节2"
        },{
            "id": 3,
            "keyword": "第十一届爵士音乐节3"
        }]


## 场馆详情 [/v1/venues/{id}]

### 获取场馆详情 [GET]

+ Parameters
    + id - 场馆id

+ Response 200 (application/json)

        {
          "address": "test",
          "latitude": 11,
          "phones": "123,123",
          "avatar": "http://www.gravatar.com/avatar/72ec343bf968d8fea338b9f57b4caab9?s=24&d=identicon",
          "cityId": 1,
          "addTime": 1441590509000,
          "regionId": 1,
          "activities": [{
            "id": 1,
            "addTime": 1439853517000,
            "updateTime": 1439853517000,
            "actorId": 0,
            "categoryId": 1,
            "name": "abosdfe",
            "poster": "http://www.gravatar.com/avatar/72ec343bf968d8fea338b9f57b4caab9?s=24&d=identicon"
          }],
          "name": "test",
          "id": 1,
          "class": "com.piaoniu.biz.entity.Venue",
          "longitude": 11,
          "updateTime": 1441590509000
        }

## 手机验证码 [/v1/user/sendCode{?ua}]

### 发送手机验证码 [POST]

+ Parameters
    + ua - 账号（手机号）

+ Response 200 (application/json)

        {}

## 注册 [/v1/user/reg]

### 注册用户 [POST]
+ Attributes
    + ua - 账号（手机号）
    + pw - 密码
    + code - 验证码
    + ct - 注册渠道 (ios:10, android: 11)

+ Response 200 (application/json)

        {
          "user": {
              "userId": 6,
              "mobileNo": "13800138050",
              "userName": "pn9138050",
              "status": 0,
              "addTime": 1442074050000,
              "updateTime": 1442074050000
          }
        }


## 登录 [/v1/user/login]

### 登录用户 [POST]

+ Attributes (object)
    + ua - 账号（手机号）
    + pw - 密码
    + ct - 登录渠道

+ Request

    + Body

            ua=123&password=qwe&ct=10

+ Response 200 (application/json)

    + Headers

            pn: D937F781D33BBAB46887494EB95DAD5782AF4936842561DD1BE3EAAE7544FBA6

    + Body

            {
                "user": {
                    "userId": 1,
                    "mobileNo": "13800138030",
                    "userName": "南玻玩",
                    "status": 0,
                    "avatar": "",
                    "addTime": 14419656000000,
                    "updateTime": 1441965600000
                }
            }


## 个人中心 [/v1/user]

### 获取个人信息 [GET]

+ Response 200 (application/json)

            {
                "user": {
                    "userId": 1,
                    "mobileNo": "13800138030",
                    "userName": "南玻玩",
                    "status": 0,
                    "addTime": 14419656000000,
                    "avatar": "",
                    "updateTime": 1441965600000
                }
            }

### 修改头像url [PUT /v1/user/avatar]

+ Response 200 (application/json)

            {
                "success": true,
                "avatar": "http://7xllta.com2.z0.glb.qiniucdn.com/test.jpg?attname="
            }

### 修改个人基本信息 [PUT /v1/user/baseInfo]

+ Request (application/json)

    + Body

            {
               "userName": "nickname-modify"
            }


+ Response 200 (application/json)

            {
                "success": true
            }


### 修改密码 [PUT /v1/user/password]

+ Request (application/json)

    + Body

            {
               "oldPassword": "old" ,
               "newPassword": "new"
            }


+ Response 200 (application/json)

            {
                "success": true
            }

### 查看可用优惠券列表 [GET /v1/coupons]

需要先登陆，根据用户ID获取所有我的可用优惠列表



+ Response 200 (appliaction/json)

            [
            {
                id: 25,
                updateTime: 1444872944000,
                addTime: 1444872944000,
                userId: 13,
                discountAmount: 200,
                requireAmount: 0,
                type: 1,
                title: "开心麻花200元优惠券",
                desc: "每张票立减10元",
                activityId: 1,
                activityEventGroupId: 2,
                extraCondition: null,
                effectiveTimeFrom: 1444872978000,
                effectiveTimeTo: 1444872978000,
                status: 1
            }
            ]